.container {
  max-width: 1440px;
  width: calc(100% - 120px);
  margin: 0 auto;

  @include mq($md) {
    max-width: 900px;
    width: calc(100% - 60px);
  }

  @include mq($sm) {
    max-width: 660px;
  }

  @include mq($xs) {
    max-width: 546px;
  }

  @include mq($xxs) {
    max-width: 290px;
    width: 100%;
  }

  &-fluid {
    position: relative;
    max-width: 100%;
  }
}

.container-md {
  @include mq($md) {
    margin: 0 auto;
    max-width: 900px;
    width: calc(100% - 60px);
  }
}

.container-sm {
  @include mq($sm) {
    margin: 0 auto;
    max-width: 660px;
    width: calc(100% - 60px);
  }
}

.container-xs {
  @include mq($xs) {
    margin: 0 auto;
    width: calc(100% - 60px);
    max-width: 546px;
  }

  @include mq($xxs) {
    margin: 0 auto;
    max-width: 290px;
    width: 100%;
  }
}
