$font: 'Open Sans', sans-serif;

$white: #fff;
$black: #000;
$yellow: #f7ca57;
$orange: #fb7206;
$green: #459d16;
$dark: #1B202B;
$black33: #333333;
$brown: #42140e;
$red: #ff0000;
$dred: #d0021b;
$graycb: #cbcbcb;
$gray97: #979797;
$graye6: #e6e6e6;
$gray: #E0E1E5;
$rose: #E757A0;

$xxs: 320;
$xs: 576;
$sm: 720;
$md: 992;
$lg: 1200;
$xlg: 1920;

$anim_length: .3s;
$anim_easing: ease-in-out;
$slow_anim: .3s ease-in-out;
