@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Proza+Libre:400,400i,600,700,800&subset=cyrillic-ext');
@import "functions";
@import "mixin";
@import "variables";
@import "helper";
@import "reset";
@import "layout";

body {
    overflow-x: hidden;
    background-color: $white;
    font-family: $font;
    font-weight: normal;
    width: 100%;
}
